.listArea {
    margin: 0 auto;
}

input {
    margin-top: 10px;
    height: 25px;
    line-height: 300px;
    width: 100%;
    text-indent: 10px;
}



.list li {
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: solid 1px #f1f1f1;
    display: flex;
    justify-content: space-between;
}

